.row
	.col-md-3.scrollable.fill-vertically
		.row
			.col-md-10.col-md-offset-2
				h2.text-primary
					|Contacts
		.row
	.col-md-8.scrollable.fill-vertically
		.row
			.col-md-10.col-md-offset-2
				h2.text-primary
					|Chat
		.row
