.row
	.col-md-4.col-md-offset-4
		.row
			.col-md-12.text-center
				h2.text-primary
					|Log in
		.row
			.row
				input.form-control(type='text' placeholder='Username')
			a(href='#!/register')
				| Click here if you don't have an account