.row
	.col-md-4.col-md-offset-4
		.row
			.col-md-12.text-center
				h2.text-primary
					|Log in
		.row
			.row
				input.form-control(type='text' placeholder='Password')
			p.text-warning
				| Do not share your credentials to anybody!