.row
	img.img-responsive.center-block(src='/assets/lokIM.png')
.row.text-center
	h1.text-primary
		|Welcome to LokIM
.row.text-center
	p.text-primary
		|A secure communicator that cares about your privacy.
.row.text-center
	a(href='#!/loginUsername')
		.btn.btn-primary
			|Log in
.row.text-center.mt-1
	a(href='#!/signUp')
		.btn.btn-primary
			|Create an account