head
	title
		|LokIM
	script(src='https://code.jquery.com/jquery-3.2.1.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
	script(src='index.js')
	link(rel='stylesheet' href='css/main.css')
body(ng-app='lokIM')
	nav.navbar-default.navbar-fixed-top
		.fluid-container
			.navbar-header
				a.navbar-brand(href='#!/')
					p.text-secondary
						|LokIM
				ul.navbar-nav
					li
						|Find friends
	.fluid-container
		ng-view